@font-face {
  font-family: 'Cedarville Cursive';
  src: url("/assets/fonts/CedarvilleCursive-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Cedarville Cursive', sans-serif;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

